<ul>
  <h3>Causes probables :</h3>

    <% @diagnostic.alarm.probably_causes.each do |cause| %>
      <li><%= cause.description %></li>
    <% end %>

</ul>

<ul><% @diagnostic.todo_lists.each do |list|  %>
 <p> <%= list.to_do_by  %></p>
  <% list.tasks.each do |task| %>
   <li> <%= task.description  %>
   <%= task.status  %></li>
   <% end %>
<p></p>
  <% end %>

  </ul>

