<div class="list-group list-group-flush text-center">
  <% @stoves.each do |stove| %>
    <%= link_to "#{stove.name} #{stove.rated_heat_output}", stove_path(stove), class: "list-group-item list-group-item-action" %>
  <% end %>
</div>

