<h2><%= @stove.name %></h2>
<p>puissance = <%= @stove.rated_heat_output %></p>

<div>
  <h3>Caractéristiques :</h3>
  <ul>
    <li>puissance mini:</li>
    <li>puissance max:</li>
    <li>hauteur</li>
    <li>largeur</li>
    <li>etc..</li>
  </ul>
</div>

<%= link_to "faire un diagnostic", new_stove_displayed_diagnostic_path(@stove),class: "btn btn-danger" %>
