<h2>Appui technique Turbo fonte</h2>
<p>Cette application est destinée aux techniciens et concessionnaires Trubo fonte qui souhaitent réaliser un diagnostic sur les poêles à granulés de la marque.</p>

<%= link_to "Liste des poêles", stoves_path %>

